# Shared variables
NODE_ENV="development"

# Hosting
# Replace by your domain name
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Clerk authentication
# REPLACE THIS CLERK PUBLISHABLE KEY WITH YOUR OWN CLERK DEVELOPMENT ENVIRONMENT KEY. THIS ONE IS FROM THE NEXT.JS TEMPLATE.
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_cmVsYXhlZC10dXJrZXktNjcuY2xlcmsuYWNjb3VudHMuZGV2JA"

# PostHog
NEXT_PUBLIC_POSTHOG_KEY="phc_..."
NEXT_PUBLIC_POSTHOG_HOST="https://eu.i.posthog.com"

######## [BEGIN] SENSITIVE DATA ######## For security reason, don't update the following variables (secret key) directly in this file.
######## Please create a new file named `.env.production.local`, all environment files ending with `.local` won't be tracked by Git.
######## After creating the file, you can add the following variables.
# Arcjet security
# Get your key from https://launch.arcjet.com/Q6eLbRE
# ARCJET_KEY=

# Database
# Local database with PGLite, already included in the project, no Docker needed
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/postgres"

# Clerk authentication
CLERK_SECRET_KEY="sk_..."
######## [END] SENSITIVE DATA
