# Shared variables
NODE_ENV=production

# Hosting
# Replace by your domain name
NEXT_PUBLIC_APP_URL=https://demo.nextjs-boilerplate.com

# BetterStack - Logging ingestion
NEXT_PUBLIC_BETTER_STACK_SOURCE_TOKEN=
NEXT_PUBLIC_BETTER_STACK_INGESTING_HOST=

# Checkly
CHECKLY_EMAIL_ADDRESS=contact@creativedesignsguru.com
CHECKLY_PROJECT_NAME=Next.js Boilerplate
CHECKLY_LOGICAL_ID=nextjs-boilerplate

# Clerk authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."

# PostHog
NEXT_PUBLIC_POSTHOG_KEY="phc_..."
NEXT_PUBLIC_POSTHOG_HOST="https://eu.i.posthog.com"

# Sentry - Error monitoring
# NEXT_PUBLIC_SENTRY_DSN=
# SENTRY_ORGANIZATION=
# SENTRY_PROJECT=

######## [BEGIN] SENSITIVE DATA ######## For security reason, don't update the following variables (secret key) directly in this file.
######## Please create a new file named `.env.production.local`, all environment files ending with `.local` won't be tracked by Git.
######## After creating the file, you can add the following variables.
# Arcjet security
# Get your key from https://launch.arcjet.com/Q6eLbRE
# ARCJET_KEY=

# Database
# DATABASE_URL=postgresql://postgres@localhost:5432/postgres

# Clerk authentication
CLERK_SECRET_KEY="sk_..."

# Sentry - Error monitoring
# SENTRY_AUTH_TOKEN=
######## [END] SENSITIVE DATA
